//--------------------------------------------------------------
// Footer naviagation
// Additional styles needed for the footer
//
//-------------------------------------------------------------

.uikit-footer {
  &__navigation {
    .block-menu {
      @extend .col-md-3;
    }
  }
  &__logo {
    max-width: 157px;
  }
  &__back-to-top {
    text-align: right;
    padding-bottom: 20px;
  }
}
