<h2>colours main palette</h2>

<div class="palette palette--7">
  <div class="palette__color palette__color--hero"></div>
  <div class="palette__color palette__color--primary"></div>
  <div class="palette__color palette__color--secondary"></div>
  <div class="palette__color palette__color--background"></div>
  <div class="palette__color palette__color--border"></div>
  <div class="palette__color palette__color--text"></div>
  <div class="palette__color palette__color--link"></div>
</div>

<hr>
<h2>colour contrasts main palette</h2>

<table class="contrast no-a11y-test">
  <caption>
    The contrast of the main colors
  </caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">White</th>
      <th scope="col">Background</th>
      <th scope="col">Hero</th>
      <th scope="col">Primary</th>
      <th scope="col">Secondary</th>
      <th scope="col">Border</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr class="contrast-white">
      <th scope="row">White</th>
      <td><div class="contrast-box"></div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-text">
      <th scope="row">Text</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-hero">
      <th scope="row">Hero</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box"></div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-primary">
      <th scope="row">Primary</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box"></div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-secondary">
      <th scope="row">Secondary</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box"></div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-border">
      <th scope="row">Border</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box"></div></td>
      <td><div class="contrast-box contrast-box--link">Link</div></td>
    </tr>
    <tr class="contrast-link">
      <th scope="row">Link</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--hero">Hero</div></td>
      <td><div class="contrast-box contrast-box--primary">Primary</div></td>
      <td><div class="contrast-box contrast-box--secondary">Secondary</div></td>
      <td><div class="contrast-box contrast-box--border">Border</div></td>
      <td><div class="contrast-box"></div></td>
    </tr>
  </tbody>
</table>

<hr>
<h2>main colour palette tints</h2>

<div class="colorbox-wrapper colorbox__4">
  <div class="colorbox colorbox__colour-Hero">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Hero</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Primary">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Primary</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Secondary">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Secondary</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>


  <div class="colorbox colorbox__colour-Background">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Background</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

</div>
<hr>
<div class="colorbox-wrapper colorbox__4">

  <div class="colorbox colorbox__colour-Border">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Border</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Text">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Text</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Link">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Link</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

</div>

<hr>
<h2>colours notification palette</h2>

<div class="palette palette--4">
  <div class="palette__color palette__color--error"></div>
  <div class="palette__color palette__color--success"></div>
  <div class="palette__color palette__color--warning"></div>
  <div class="palette__color palette__color--info"></div>
</div>

<hr>
<h2>colour contrasts notification palette</h2>

<table class="contrast no-a11y-test">
  <caption>
    The contrast of the secondary colors
  </caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">White</th>
      <th scope="col">Background</th>
      <th scope="col">Error</th>
      <th scope="col">Success</th>
      <th scope="col">Warning</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr class="contrast-white">
      <th scope="row">White</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
    <tr class="contrast-text">
      <th scope="row">Text</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
    <tr class="contrast-error">
      <th scope="row">Error</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
    <tr class="contrast-success">
      <th scope="row">Success</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
    <tr class="contrast-warning">
      <th scope="row">Warning</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
    <tr class="contrast-info">
      <th scope="row">Info</th>
      <td><div class="contrast-box contrast-box--white">White</div></td>
      <td><div class="contrast-box contrast-box--background">Background</div></td>
      <td><div class="contrast-box contrast-box--error">Error</div></td>
      <td><div class="contrast-box contrast-box--success">Success</div></td>
      <td><div class="contrast-box contrast-box--warning">Warning</div></td>
      <td><div class="contrast-box contrast-box--info">Info</div></td>
    </tr>
  </tbody>
</table>

<hr>
<h2>notification colour palette tints</h2>

<div class="colorbox-wrapper colorbox__4">
  <div class="colorbox colorbox__colour-Error">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Error</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Success">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Success</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Warning">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Warning</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Info">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Info</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>
</div>