// @todo This should prob go back into the UI Kit
.govcms-parkes-header-logo-link {
  border-bottom-style: none !important;

  &:hover {
    background-color: transparent !important;
  }
}

.govcms-parkes-header__content {
  float: right;
}
