// sass-lint:disable variable-name-format

.govcms-parkes-local-nav {
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
      margin: 0 !important;
      padding: 0 !important;
      text-transform: none;

      li {
        &:last-child {
          border-bottom: 0;
        }
      }

      a {
        padding-left: uikit-space(1);
        border-bottom: 0;
      }

    }

    li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $uikit-colour-Border-50;

      &:first-child {
        border-top: 1px solid $uikit-colour-Border-50;
      }
    }

    a {
      display: block;
      border-left: 4px solid transparent;
      border-bottom: 0;
      padding: uikit-space(.5);
      transition: border-color .05s ease-in-out, border-color .05s ease-in-out;

      &:hover,
      &:focus {
        border-color: $uikit-colour-Primary--50;
        background-color: $uikit-colour-Link-20;
      }

      &.is-current {
        font-weight: bold;
        background-color: $uikit-colour-Link-20;
      }

    }

  }

}
