// sass-lint:disable variable-name-format

.govcms-parkes-search-inline-form {
  div {
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: 0;
  }

  [type='text'],
  [type='submit'] {
    border: 0;
    margin: 0;

    &:hover {
      background-color: #e1e7eb;
    }
  }

  [type='text'] {
    background-color: #f0f3f5;
    line-height: 2.15em;
    width: 100%;
    border: 2px solid $uikit-colour-Border-50;
    border-right: 0;

    &:focus {
      border: 2px solid $uikit-colour-Primary;
      outline: none;
    }
  }

  [type='submit'] {
    background: #f0f3f5 url('../images/search.svg') center center no-repeat;
    background-size: 20px auto;
    border: 2px solid $uikit-colour-Border-50;
    border-left: 0;
  }


  @include uikit-media('sm') {
    [type='text'] {
      line-height: 1.8em;
      width: 10em;
    }
  }

  @include uikit-media('md') {
    [type='submit'] {
      background-color: $uikit-colour-Primary;
      background-image: none;
      border: 0;
    }
  }

  @include uikit-media('lg') {
    [type='text'] {
      width: 15em;
    }

    [type='submit'] {
      background-color: $uikit-colour-Primary;
      background-image: none;
      border: 0;
    }
  }

  // Because Safari can't count
  // See http://stackoverflow.com/questions/23624265/fixing-1px-bug-in-safari for bug details and fix
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    [type='submit'] {
       margin-left: -1px;
    }
  }
}
