.govcms-parkes-tabs {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 uikit-space(.5) uikit-space(.75) 0 !important;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend .uikit-btn;
    padding: uikit-space(.25) uikit-space(.5);

    &:not(.govcms-parkes-tabs-active) {
      @extend .uikit-btn--tertiary;
    }
  }

}

.govcms-parkes-tabs--secondary {
  border-top: solid 1px $uikit-colour-Border-50;
  padding-top: uikit-space(.75);
}

.govcms-parkes-tabs-active {
  color: #fff !important;
}
