//------------------------------------------------------------------------------
// Components: Footer
//
// Styling related to the site footer
//------------------------------------------------------------------------------

.govcms-parkes-footer__crest {
  display: block;
  margin: uikit-space(.75) 0;
  max-width: 200px;
}

.govcms-parkes-footer__details {
  display: block;
}

/**
 * We have an unknown number of blocks in the navigation region as it will vary
 * from site to site.  While we could determine the number and try and use
 * bootstrap columns, the number or blocks may not always work in a 12 col
 * grid.  So we'll use flexbox to achieve the same effect.
 */
@include uikit-media('sm') {
  .region-footer-navigation {
    display: flex;
    justify-content: space-between;
  }
}
