//------------------------------------------------------------------------------
// Components: Buttons
//
// Styling related to buttons
//------------------------------------------------------------------------------

// UI Kit has YUGE buttons, sometimes you need something a bit smaller.
.govcms-parkes-btn--small {
  font-weight: normal;
  height: 32px;
  padding: 0 .75em;
}
