// Colors
//
// Markup: colors.twig
//
// Weight: -1
//
// Style guide: sass.colors

$uikit-colour-Hero: #115361; //color variables (yes! the actual spelling doesn't have a u)
$uikit-colour-Primary: #1B7991;
$uikit-colour-Secondary: #313131;
$uikit-colour-Background: #f0f3f5;
$uikit-colour-Border: #555;
$uikit-colour-Text: #313131;
$uikit-colour-Link: #5bcbe3;

$uikit-colour-Error: #ff635c;
$uikit-colour-Success: #0cac78;
$uikit-colour-Warning: #f69900;
$uikit-colour-Info: #00bfe9;
