//------------------------------------------------------------------------------
// Components: Body
//
// Generic styling.  Styling should only be added here if there is no other
// place for it that makes sense (which may include creating a new file).
//
// SASS Lint configuration
// sass-lint:disable variable-name-format
//------------------------------------------------------------------------------

// Add top and bottom padding to main content area
main {
  padding: uikit-space(1) 0;
}

// Used for content like author or date of a post.
.govcms-parkes-body-meta {
  font-style: italic;
  color: $uikit-colour-Primary--20;
}
