//------------------------------------------------------------------------------
// Components: SASS Config
//
// Use this file to transafer SASS variables into the DOM where they can be read
// by JavaScript.
//
// https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Breakpoints
//
// Pass the current breakpoint to the DOM.
//------------------------------------------------------------------------------
body::before {
  content: 'xs';
  display: none;
}

@include uikit-media('sm') {
  body::before {
    content: 'sm';
  }
}

@include uikit-media('md') {
  body::before {
    content: 'md';
  }
}

@include uikit-media('lg') {
  body::before {
    content: 'lg';
  }
}
